# Node.js
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.gitignore

# Java/Spring Boot
backend/target/
backend/.env
backend/application.yml
backend/.gitignore
backend/build.gradle


# MySQL
database/store/
database/logs/
database/.env
database/.gitignore

.idea/

.env